:root {

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    body{
        -webkit-font-smoothing: antialiased;
        background-color: var(--background);
        text-decoration: none;
    }
}

@media (max-width: 768px){
    html{
        font-size: 87.5%;
    }
}

@media( max-width: 425px){
    html{
        font-size: 87.5%;;
    }
}