:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  }
  html {
      font-size: 62.5%;
      height: 100vh;
      
  }
  html, body {
     
     
     text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;


  }
  body {
      background-color: var(--backgrond);
      color: var(--text-color);
      font-size: 1.6rem;
      font-family: 'Manrope', sans-serif;
      display: flex;
      
      overflow-x: hidden;

      
  }

  body #blur2 {
      position: fixed;
      top: 0;
      right: 0;
      z-index: -100;
      height: auto;
  }

  body #blur {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -100;
    height: auto;
  }

  #btn-mobile {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
  

  




