    /*------ 2500px ------- */
    @media (min-width:2500px){
        
        html {
            height: 100vh;
            font-size: 120%;   
        }
        body {
        display:flex;
        flex-direction: column;
        justify-content: center;
        }
        /*-------Nav Bar --------*/
        header #nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 2000px;
        margin: 4.5rem auto 0 auto;
        box-sizing: border-box;
        font-size: 1.6rem;
    }
   
    
     header #nav-bar .icon img{
        width: 6rem;
        height: 6rem;
    }
    
    main .image-coffee img{
        width: 90rem;
        height: 45rem;
    }
    #mobile-content {
        display: none;
    }
    #blur-mobile{
        display: none;
    }
    }
    /*--------------------2497px-----------------------------*/
    @media (max-width: 2499px){
    
        html {
            height: 100vh;
            font-size: 120%;   
        }
        body {
        display:flex;
        flex-direction: column;
        justify-content: center;
        

        }
        /*-------Nav Bar --------*/
        header #nav-bar  {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 2000px;
        margin: 4.5rem auto 0 auto;
        box-sizing: border-box;
        font-size: 2rem;
        }

        header #nav-bar .btn{
            white-space: nowrap;
            width: auto;
            height: auto;
            font-size: 1.3rem;

        }
        header #nav-bar .menu a {
            white-space: nowrap;
            font-size: 2rem;
            margin: 0 4rem;
        }
        header .icon {
            width: auto;
            height: auto;
            
        }
        header #nav-bar .icon img{
        width: 6rem;
        height: 6rem;
        }
        
        main .image-coffee img{
        width: 60rem;
        height: 30rem;
        } 
        #mobile-content {
            display: none;
        }
        #blur-mobile{
            display: none;
        }
        }



        /*--------------------1920px-----------------------------*/

        @media (max-width: 1920px) {
        
            html {
                font-size: 100%;
                height: 100vh;
            }
        
            header #nav-bar {
                width: 90%;
                margin: 4.5rem auto 0 auto;
                
            }
        
           
            .icon img {
                width: 110%;
                height: 110%;
            }
            .btn {
                padding: 1.2rem 2rem;
            }  
            #blur-mobile{
                display: none;
            } 
        }
        /*--------------------1585px-----------------------------*/

        @media (max-width: 1585px) {
        
            html {
                font-size: 80%;
                height: 100vh;
            }
        
            header #nav-bar {
                width: 100%;
                margin: 4.5rem auto 0 auto;
                
            }
            .icon img {
                width: 110%;
                height: 110%;
            }
            .btn {
                padding: 1.5rem 3rem;
            }   
            main .image-coffee {
                width: 100%;
                height: 100%;
            }
            main .image-coffee img {
                width: 78rem;
                height: 33rem;
            
            }
            #blur-mobile{
                display: none;
            }
        }
        /*--------------------1280px-----------------------------*/

        @media (max-width: 1280px) {
            html {
                font-size: 60%;
                height: 100vh;
            }
        
            header #nav-bar {
                width: 100%;
                
            }
            header #nav-bar {
                margin: 4.5rem auto;
            }
            header #nav-bar .menu a {
                font-size: 2rem;
            }

            main .image-coffee {
                margin: 0 auto;
                width: 100%;
                height: 100%;
            }
            main .image-coffee img{
                width: 70%;
                height: 70%;
            }
            
        
            .icon {
                width: auto;
                height: auto;
            }
            .icon img {
                width: 110%;
                height: 110%;
            }
        .btn {
            padding: 1rem 2rem;
        }   
        }
        
            
        @media  (min-width: 801px) {
            #logo-coffee {
                display: none;
            }
            #btn-mobile-content {
                display: none;
            }
            #blur-mobile{
                display: none;
            }
        }

        /*--------------------1024px-----------------------------*/

        @media (max-width: 1024px){
            header #nav-bar {
                margin: 4.5rem auto;
            }
            header #nav-bar .menu a {
                font-size: 2rem;
            }

            main .image-coffee {
                margin: 0 auto;
                width: 100%;
                height: 100%;
            }
            main .image-coffee img{
                width: 100%;
                height: 100%;
            }
            #blur-mobile{
                display: none;
            }
           
        }

        /*--------------------950px-----------------------------*/

        @media (max-width: 950px){

            html {
                font-size: 60%;
            }
            header #nav-bar {
                margin: 4.5rem auto;
            }
            header #nav-bar .icon {
                margin-right: .3rem;
            }
            .menu a {
                font-size: 2rem;
                margin: 0 2rem;
            }

            main .image-coffee {
                margin:0 auto;
                width: 100%;
                height: 100%;
            }
            main .image-coffee img{
                width: 100%;
                height: 100%;
            }
        
            #blur-mobile{
                display: none;
            }
        
        }




        /*--------------------800px-----------------------------*/

        @media (max-width: 800px){

            html {
                font-size: 50%;
                height: 100vh;
                
            }
            
            
            
            header #nav-bar {
                display: flex;
                justify-content: space-between;
                width: 90%;           

                margin: 3rem auto;
                
            }
            #nav-bar #logo {
                display: flex;
                width: 50%;
            }
            #nav-bar .menu-toggle {
                width: 50px;
                height: 40px;
             
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                margin-left: 20px;
            }
            #nav-bar .menu-mobile .menu, #nav-bar .btn {
                display:none;
            }
            #logo-coffee {
                position: absolute;
                font-family: "Lobster";
                font-size: 5rem;
                z-index: 300;
                left: 9rem;
            }
            .icon {
                position: absolute;
                z-index: 200;
            }

            .one,
            .two {
                background-color: #8257E5;
                height: 3px;
                margin: 5px;

                transition-duration: 0.3s;
            }
            .one {
                width: 100%;
            }
            .two {
                width: 50%;
            }
          

            main {
                display: flex;
                flex-direction: column;
                justify-content:center;
            }
            #mobile-content {
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;


                width: 60rem;

                margin: 5rem auto 0 auto;
            }

            #btn-mobile-content {

                width: 30rem;
                box-sizing: border-box;
            
                font-size: 1.7rem;
                font-weight: 700;
                
                background: var(--background);
                color: var(--text-color);

                margin: 5rem auto 0 auto;
            
                border: 1px solid var(--button);
                border-radius: .8rem;
                padding: 2rem 3rem;
            }


            main .image-coffee {
                width: 100%;
                height: 100%;
            }
            main .image-coffee  img{
                width: 100%;
                height: 100%;
            }

            
            #blur,
            #blur2 {
                display:none;
            }

            #blur-mobile {
                display: flex;
                width: 100%
                
            }
            #blur-mobile img{
                height: auto;
                position: fixed;
                bottom: 0;
                z-index: 100;
                right:0;
                width: 100%;
            }

        /*------------full screen menu --------*/
            header #nav-bar .menu-mobile.on {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100vh;

                background-color: black;

                

                z-index: 100;

                display: flex;
                justify-content: flex-start;
                
            } 

             #nav-bar .menu-mobile.on .menu {
                display: block;
                margin-top: 10rem;
                width: auto;
            }

            .menu-mobile .menu-toggle {
                position: absolute;
                top: 15px;
                right: 10px;;
            }

            .menu-mobile.on .menu-toggle .one{

            transform: rotate(45deg) translate(9px, 9px);
            }

             .menu-mobile.on  .menu-toggle .two{
            transform: rotate(-45deg) translate(0px, 0px);
            width: 100%;
            }

            header #nav-bar .menu-mobile.on .menu  a{
                align-items: center;
                display: block;
                transition-duration: 1s;
        

                font-size: 4rem;
                line-height: 10rem;
            }

            header #nav-bar .menu-mobile.on .menu  a:visited {
                margin-left: 3rem;
                transition: .5s;
            }
        }


    /*--------------------720px-----------------------------*/


        @media (max-width: 720px){

            html {
                font-size: 50%;
                height: 100vh;
                
            }
            
            
            
            header #nav-bar {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 90%;           

                margin: 3rem auto;
                
            }
            #nav-bar .menu, #nav-bar .btn {
                display:none;
            }
            #logo-coffee {
                font-family: "Lobster";
                font-size: 5rem;
            }
            header #nav-bar {
                display: flex;
                
            }
            .one,
            .two {
                background-color: #8257E5;
                height: 3px;
                margin: 5px;
            }
            .one {
                width: 100%;
            }
            .two {
                width: 50%;
            }
            #nav-bar .menu-toggle {
                width: 50px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: absolute;
                top: 30px;
                right: 30px;
            }

            main {
                display: flex;
                flex-direction: column;
                justify-content:center;
            }
            main #mobile-content {
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;


                width: 60rem;

                margin: 5rem auto 0 auto;
            }

            #btn-mobile-content {

                width: 30rem;
                box-sizing: border-box;
            
                font-size: 1.7rem;
                font-weight: 700;
                
                background: var(--background);
                color: var(--text-color);

                margin: 5rem auto 7rem auto;
            
                border: 1px solid var(--button);
                border-radius: .8rem;
                padding: 2rem 3rem;
            }


            main .image-coffee {
                width: 100%;
                height: 100%;
            }
            main .image-coffee  img{
                width: 100%;
                height: 100%;
            }

            
            #blur,
            #blur2 {
                display:none;
            }

            #blur-mobile {
                display: flex;
                width: 100%
                
            }
            #blur-mobile img{
                height: auto;
                position: fixed;
                bottom: 0;
                z-index: -100;
                right:0;
                width: 100%;
            }

            
        }

    /*--------------------474px-----------------------------*/

    @media (max-width: 480px) {
        html {
            font-size: 50%;
            
        }

        main {
            display: flex;
            flex-direction: column;
    
        }
        main #mobile-content {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;


            width: 40rem;

            margin: 0 auto;
        }

        main #mobile-content #mobile-text {
            margin: 8.5rem auto;
            
        }

        #btn-mobile-content {
            font-size: 1.9rem;
        }
        main .central {
            margin-top: 3rem;
        }
        main .image-coffee {
            width: 100%;
            height: 30vh;
        }

        main .image-coffee img{
            width: 100%;
            height: 100%;

            margin-top: 5rem;
        }
    }

    /*--------------------376px-----------------------------*/

    @media(max-width:376px){
        
        html{
            font-size: 40%;
            height: 100vh;
        }

        #mobile-content {
            width: 80%;
        }
        main .central {
            width: 80%;

            margin-top: 11rem;
        }
        main .central h1{
            font-size: 6rem;
        }

        main .image-coffee {
            margin-top: 13rem;
            width: 100%;
            height: 100%;
        }
        
        main .image-coffee img {
            width: 100%;
            height: 100%;
        }



    }
        /*--------------------320px-----------------------------*/
    @media (max-width: 320px) {

        #nav-bar #logo {
            display: flex;
            align-items: center;
        }

        #nav-bar #logo .icon {
            margin: 0 auto;
        }

        #nav-bar #logo-coffee {
            font-size: 3rem;
        }

        main .image-coffee {
            margin-top: 18rem;
            width: 100%;
            height: 100%;
        }
        
        main .image-coffee img {
            width: 100%;
        }


         
    }
