:root {
        --backgrond: #000;
        --text-color: #FFF;
        --button: #8257E5;
        --border: #29292E;
        --border-menu-mobile: #A8A8B3;
        --text-color-menu-mobile: #E1E1E6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    body{
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        background: #000;
    }
}

@media (max-width: 790px){
    html{
        font-size: 87.5%;
    }
}

@media( max-width: 425px){
    html{
        font-size: 87.5%;
    }
}